  <p>
    <%= label_tag(:name, "Shop Name") %>
    <%= @shop.name %>
  </p>
  <p>
    <%= label_tag(:name, "Shop Address 1") %>
    <%= @shop.address1 %>
  </p>
  <p>
    <%= label_tag(:name, "Shop Address 2") %>
    <%= @shop.address2 %>
  </p>
  <p>
    <%= label_tag(:name, "Shop City") %>
    <%= @shop.city %>
  </p>
  <p>
    <%= label_tag(:name, "Shop State") %>
    <%= @shop.state %>
  </p>
  <p>
    <%= label_tag(:name, "Shop Country") %>
    <%= @shop.country %>
  </p>

  <p>
    <%= label_tag(:name, "Shop zipcode") %>
    <%= @shop.zipcode %>
  </p>

  <p>
    <%= label_tag(:name, "Shop Phone Number") %>
    <%= @shop.phone_number %>
  </p>

  <p>
    <%= label_tag(:name, "Maximum number of people allowed in the shop at a time") %>
    <%= @shop.max_allowed %>
  </p>

  <p>
    <%= label_tag(:name, "Shop Type") %>
    <%= @shop.shop_type %>
  </p>
