<% @shops.each do |shop| %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= shop.name %></h5>
    <% if shop.phone_number %>
      <p class="card-text">Phone: +<%= number_to_phone(shop.phone_number) %></p>
    <% end %>
    <p class="shop_status">
      <% if shop.open %>
        <span class="text-success" onclick="alert('Store allows only <%= shop.max_allowed %> members max at a time, <%= shop.in_store %> are already in store')">(<%= shop.in_store %>/<%= shop.max_allowed %>)
        </span>
      <% else %>
        <span class="text-danger">Closed</span>
      <% end %>
    </p>
    <p class="shop_status_open">
      <% if shop.open %>
        <span class="text-success">Open</span>
      <% end %>
    </p>
    <p class="card-text"><b>Address:</b> <%= "#{shop.address1}," +  " #{shop.address2}," + " #{shop.city}" %></p>
  </div>
</div>
<% end %>
